# OS
.DS_Store/
*.swp

# IDE
.idea/
.vscode/

# data/binary
*.log
*.log_parsed
*.csv
*.json
*.xlsx
*.conf
*.config

*.png
*.jpg
*.jpeg

*.out
*.exe
.~*

*.sqlite

# python
__pycache__/
.ipynb_checkpoints/
.venv/
*.egg-info/
*.pyc

# pytest
.pytest_cache

# sphinx
docs/_build
docs/_static
docs/_templates

# ml models
*.joblib

# project specific
livetrade
livebch
liveeth
livexrp

data
data/
log/
data/
sample/
pysher/
build-tree/
run-tree/
