*.log
*.log_parsed
*.csv
*.json
*.xlsx
*.txt
*.config

!requirements.txt

*.png
*.jpg
*.jpeg

*.swp
*.pyc
*.out
*.exe

*.sqlite

livetrade
livebch
liveeth
livexrp

data
log/
data/
sample/
pysher/
build-tree/
run-tree/

__pycache__/
.DS_Store/
.vscode/
.ipynb_checkpoints/
.pytest_cache

docs/_build
docs/_static
docs/_templates
