*.log
*.log_parsed
*.csv
*.json
*.xlsx
*.txt
*.config

*.png
*.jpg
*.jpeg

*.swp
*.pyc
*.out
*.exe

livetrade
livebch
liveeth
livexrp
my*
snooped-script.py
snoop.ipynb

run/
log/
data/
sample/
pysher/

__pycache__/
.DS_Store/
.vscode/
.ipynb_checkpoints/
