[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
Sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"

[packages]
cryptle = {path = ".",editable = true}

[requires]
python_version = "3.5"
